---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [44]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import re

In [2]:
pd.options.display.max_columns = None

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [3]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [4]:
aa = pd.read_csv("City_Zhvi_AllHomes.csv")

In [5]:
dc_states = pd.DataFrame.from_dict(states, orient='index')

In [6]:
bb = pd.read_table("university_towns.txt", header=None,names=["university"])
bb.head(10)

/Users/erdemalpkaya/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

                                          university
0                                      Alabama[edit]
1                      Auburn (Auburn University)[1]
2             Florence (University of North Alabama)
3    Jacksonville (Jacksonville State University)[2]
4         Livingston (University of West Alabama)[2]
5           Montevallo (University of Montevallo)[2]
6                          Troy (Troy University)[2]
7  Tuscaloosa (University of Alabama, Stillman Co...
8                  Tuskegee (Tuskegee University)[5]
9                                       Alaska[edit]

In [7]:
cc = pd.read_excel("gdplev.xls")
cc.head(23)

,"Current-Dollar and ""Real"" Gross Domestic Product",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2016-09-29 00:00:00
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Annual,NaN,NaN,NaN,Quarterly,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,(Seasonally adjusted annual rates),NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1929,104.6,1056.6,NaN,1947q1,243.1,1934.5,NaN
8,1930,92.2,966.7,NaN,1947q2,246.3,1932.3,NaN
9,1931,77.4,904.8,NaN,1947q3,250.1,1930.3,NaN
10,1932,59.5,788.2,NaN,1947q4,260.3,1960.7,NaN
11,1933,57.2,778.3,NaN,1948q1,266.2,1989.5,NaN
12,1934,66.8,862.2,NaN,1948q2,272.9,2021.9,NaN
13,1935,74.3,939,NaN,1948q3,279.5,2033.2,NaN
14,1936,84.9,1060.5,NaN,1948q4,280.7,2035.3,NaN
15,1937,93,1114.6,NaN,1949q1,275.4,2007.5,NaN
16,1938,87.4,1077.7,NaN,1949q2,271.7,2000.8,NaN
17,1939,93.5,1163.6,NaN,1949q3,273.3,2022.8,NaN
18,1940,102.9,1266.1,NaN,1949q4,271,2004.7,NaN
19,1941,129.4,1490.3,NaN,1950q1,281.2,2084.6,NaN
20,1942,166,1771.8,NaN,1950q2,290.7,2147.6,NaN
21,1943,203.1,2073.7,NaN,1950q3,308.5,2230.4,NaN
22,1944,224.6,2239.4,NaN,1950q4,320.3,2273.4,NaN

In [8]:
recession = pd.read_excel("gdplev.xls",skiprows=(range(0,7)))

In [9]:
def get_list_of_university_towns():

    bb = pd.read_table("university_towns.txt", header=None,names=["university"])
    '''
    Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''

    State= []
    RegionName =[]
    for i, k in enumerate(bb["university"]):
        if(k[-6:]=="[edit]"):
            term = k[:-6]
            term = term.strip()
            
        else:
            State.append(term)
            term2 = bb['university'][i].split("(")[0]
            term2 =term2.strip()
            RegionName.append(term2)
    
    data = {"State":State,"RegionName":RegionName}

    df = pd.DataFrame(data)
    df = df.reindex(columns = ['State','RegionName'])

    return df

In [10]:
get_list_of_university_towns()

/Users/erdemalpkaya/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [11]:
def get_recession_start():
    
    '''
    Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3
    '''
    
    recession = pd.read_excel("gdplev.xls",skiprows=(range(0,219)), usecols=(4,5))
    recession.columns = ['Quarter','GDP']
    
    for i in range(len(recession)-2):
        if(recession['GDP'][i]>recession['GDP'][i+1] and recession['GDP'][i+1]>recession['GDP'][i+2]):
            return recession['Quarter'][i]

In [12]:
get_recession_start()

'2008q3'

In [13]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    recession = pd.read_excel("gdplev.xls",skiprows=(range(0,219)), usecols=(4,5))
    recession.columns = ['Quarter','GDP']
    
    for i in range(len(recession)-2):
        if(recession['GDP'][i]>recession['GDP'][i+1] and recession['GDP'][i+1]>recession['GDP'][i+2] and recession['GDP'][i+2]<recession['GDP'][i+3] and recession['GDP'][i+3]<recession['GDP'][i+4]) :
            return recession['Quarter'][i+4]

In [14]:
get_recession_end()

'2009q4'

In [15]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    recession = pd.read_excel("gdplev.xls",skiprows=(range(0,219)), usecols=(4,5))
    recession.columns = ['Quarter','GDP']
    for i in range(len(recession)-2):
        if(recession['GDP'][i]>recession['GDP'][i+1] and recession['GDP'][i+1]>recession['GDP'][i+2] and recession['GDP'][i+2]<recession['GDP'][i+3] and recession['GDP'][i+3]<recession['GDP'][i+4]) :
            return recession['Quarter'][i+2]

In [16]:
get_recession_bottom()

'2009q2'

In [17]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    
    '''
    aa = pd.read_csv("City_Zhvi_AllHomes.csv")
    global states
    aa = aa[aa.columns.drop(list(aa.filter(regex='199')))]
    dc_states = pd.DataFrame.from_dict(states, orient='index')
    
    dc_states.reset_index(inplace=True)
    dc_states.columns = ['State','StateName']
    
    aamain = aa.iloc[:,:6]
    aaquarter = aa.iloc[:,6:]
    
    
    res = (aaquarter.groupby(pd.PeriodIndex(aaquarter.columns, freq='Q'), axis=1)
                  .mean()
                  .rename(columns=lambda c: str(c).lower()))
    mainQ = aamain.join(res)
    mainMerge = mainQ.merge(dc_states,left_on='State', right_on='State', right_index=False)
    mainMerge.set_index(['StateName','RegionName'],inplace=True)
    mainMerge.drop(['RegionID','State','Metro','CountyName','SizeRank'],axis=1, inplace=True)
    #mainMerge.reset_index(inplace=True)

    
    
    
    return mainMerge

In [18]:
convert_housing_data_to_quarters()

                                          2000q1         2000q2  \
StateName RegionName
New York  New York                           NaN            NaN
          Rochester                 53566.666667   53233.333333
          Yonkers                  222233.333333  230900.000000
          Syracuse                  56800.000000   57866.666667
          Town of Greece            95100.000000   95500.000000
          Albany                    91566.666667   92100.000000
          Town of Poughkeepsie     131966.666667  135433.333333
          New Rochelle             362766.666667  370866.666667
          Town of Colonie          110600.000000  112400.000000
          Mount Vernon             239333.333333  247300.000000
          Utica                     50700.000000   51233.333333
          Valley Stream            223166.666667  225166.666667
          Schenectady               72266.666667   73100.000000
          White Plains             284333.333333  297833.333333
          Town of Hempstead        170166.666667  172266.666667
          Town of Binghamton        81633.333333   82500.000000
          Town of Newburgh         116000.000000  118400.000000
          Troy                      74733.333333   76533.333333
          Niagara Falls             50300.000000   50133.333333
          Irondequoit               83400.000000   83500.000000
          Binghamton                51766.666667   52000.000000
          Massapequa               248833.333333  251233.333333
          Town of Elmira            51200.000000   51600.000000
          Henrietta                 94566.666667   94400.000000
          Town of Webster          126433.333333  128600.000000
          Patchogue                134400.000000  135200.000000
          Clifton Park             140633.333333  142500.000000
          Freeport                 183833.333333  186433.333333
          Lindenhurst              168733.333333  169100.000000
          Levittown                189966.666667  193366.666667
...                                          ...            ...
Vermont   Plainfield                         NaN            NaN
          West Brattleboro                   NaN            NaN
          Duxbury                            NaN            NaN
          Rochester                          NaN            NaN
          Sharon                             NaN            NaN
          White River Junction               NaN            NaN
          Irasburg                           NaN            NaN
          Mt Holly                           NaN            NaN
          Ferrisburgh                        NaN            NaN
          Lincoln                            NaN            NaN
          Franklin                           NaN            NaN
          Bridport                           NaN            NaN
          Fayston                            NaN            NaN
          Tunbridge                          NaN            NaN
          Ryegate                            NaN            NaN
          Shaftsbury                         NaN            NaN
          Shoreham                           NaN            NaN
          Fairlee                            NaN            NaN
          Corinth                            NaN            NaN
          Brookfield                         NaN            NaN
          Orwell                             NaN            NaN
          Town of Wallingford                NaN            NaN
          Stamford                           NaN            NaN
          Mendon                             NaN            NaN
          Morrisville                        NaN            NaN
          Town of Marshfield                 NaN            NaN
          Graniteville-East Barre            NaN            NaN
          Town of Manchester                 NaN            NaN
          East Montpelier                    NaN            NaN
Maine     Town of Dixfield                   NaN            NaN

                                          2000q3         2000q4  \
StateName RegionName
New York  New York                           NaN            NaN
          Rochester                 53200.000000   53200.000000
          Yonkers                  245533.333333  254400.000000
          Syracuse                  57400.000000   57233.333333
          Town of Greece            96333.333333   96933.333333
          Albany                    91233.333333   91566.666667
          Town of Poughkeepsie     139566.666667  144366.666667
          New Rochelle             382233.333333  400066.666667
          Town of Colonie          113166.666667  114100.000000
          Mount Vernon             258633.333333  271700.000000
          Utica                     52600.000000   53000.000000
          Valley Stream            229133.333333  237200.000000
          Schenectady               73733.333333   73400.000000
          White Plains             314366.666667  326633.333333
          Town of Hempstead        176800.000000  182333.333333
          Town of Binghamton        81700.000000   82466.666667
          Town of Newburgh         120233.333333  123333.333333
          Troy                      78866.666667   78800.000000
          Niagara Falls             50433.333333   50200.000000
          Irondequoit               84400.000000   85266.666667
          Binghamton                53366.666667   53933.333333
          Massapequa               254500.000000  262900.000000
          Town of Elmira            51700.000000   51966.666667
          Henrietta                 95766.666667   97333.333333
          Town of Webster          130833.333333  132066.666667
          Patchogue                141966.666667  148433.333333
          Clifton Park             143466.666667  144433.333333
          Freeport                 190400.000000  197466.666667
          Lindenhurst              173033.333333  180066.666667
          Levittown                197866.666667  204200.000000
...                                          ...            ...
Vermont   Plainfield                         NaN            NaN
          West Brattleboro                   NaN            NaN
          Duxbury                            NaN            NaN
          Rochester                          NaN            NaN
          Sharon                             NaN            NaN
          White River Junction               NaN            NaN
          Irasburg                           NaN            NaN
          Mt Holly                           NaN            NaN
          Ferrisburgh                        NaN            NaN
          Lincoln                            NaN            NaN
          Franklin                           NaN            NaN
          Bridport                           NaN            NaN
          Fayston                            NaN            NaN
          Tunbridge                          NaN            NaN
          Ryegate                            NaN            NaN
          Shaftsbury                         NaN            NaN
          Shoreham                           NaN            NaN
          Fairlee                            NaN            NaN
          Corinth                            NaN            NaN
          Brookfield                         NaN            NaN
          Orwell                             NaN            NaN
          Town of Wallingford                NaN            NaN
          Stamford                           NaN            NaN
          Mendon                             NaN            NaN
          Morrisville                        NaN            NaN
          Town of Marshfield                 NaN            NaN
          Graniteville-East Barre            NaN            NaN
          Town of Manchester                 NaN            NaN
          East Montpelier                    NaN            NaN
Maine     Town of Dixfield                   NaN            NaN

                                          2001q1         2001q2  \
StateName RegionName
New York  New York                           NaN            NaN
          Rochester                 53066.666667   52533.333333
          Yonkers                  259266.666667  263700.000000
          Syracuse                  57100.000000   56966.666667
          Town of Greece            98266.666667   99300.000000
          Albany                    92633.333333   94733.333333
          Town of Poughkeepsie     149366.666667  153833.333333
          New Rochelle             419166.666667  428066.666667
          Town of Colonie          115833.333333  118600.000000
          Mount Vernon             278833.333333  283466.666667
          Utica                     53300.000000   53933.333333
          Valley Stream            243466.666667  250333.333333
          Schenectady               75066.666667   76666.666667
          White Plains             331266.666667  335600.000000
          Town of Hempstead        185000.000000  189400.000000
          Town of Binghamton        84266.666667   85300.000000
          Town of Newburgh         129900.000000  131633.333333
          Troy                      79000.000000   79333.333333
          Niagara Falls             50133.333333   50133.333333
          Irondequoit               85933.333333   86733.333333
          Binghamton                54800.000000   56066.666667
          Massapequa               270766.666667  279133.333333
          Town of Elmira            51733.333333   52300.000000
          Henrietta                 98533.333333   99500.000000
          Town of Webster          133066.666667  134266.666667
          Patchogue                162166.666667  169233.333333
          Clifton Park             146366.666667  149133.333333
          Freeport                 203633.333333  209366.666667
          Lindenhurst              186366.666667  193833.333333
          Levittown                210700.000000  215833.333333
...                                          ...            ...
Vermont   Plainfield                         NaN            NaN
          West Brattleboro                   NaN            NaN
          Duxbury                            NaN            NaN
          Rochester                          NaN            NaN
          Sharon                             NaN            NaN
          White River Junction               NaN            NaN
          Irasburg                           NaN            NaN
          Mt Holly                           NaN            NaN
          Ferrisburgh                        NaN            NaN
          Lincoln                            NaN            NaN
          Franklin                           NaN            NaN
          Bridport                           NaN            NaN
          Fayston                            NaN            NaN
          Tunbridge                          NaN            NaN
          Ryegate                            NaN            NaN
          Shaftsbury                         NaN            NaN
          Shoreham                           NaN            NaN
          Fairlee                            NaN            NaN
          Corinth                            NaN            NaN
          Brookfield                         NaN            NaN
          Orwell                             NaN            NaN
          Town of Wallingford                NaN            NaN
          Stamford                           NaN            NaN
          Mendon                             NaN            NaN
          Morrisville                        NaN            NaN
          Town of Marshfield                 NaN            NaN
          Graniteville-East Barre            NaN            NaN
          Town of Manchester                 NaN            NaN
          East Montpelier                    NaN            NaN
Maine     Town of Dixfield                   NaN            NaN

                                          2001q3         2001q4  \
StateName RegionName
New York  New York                           NaN            NaN
          Rochester                 52666.666667   53200.000000
          Yonkers                  271300.000000  282066.666667
          Syracuse                  57433.333333   58000.000000
          Town of Greece           100000.000000  101200.000000
          Albany                    97266.666667   99000.000000
          Town of Poughkeepsie     156966.666667  164200.000000
          New Rochelle             436633.333333  440400.000000
          Town of Colonie          120666.666667  122666.666667
          Mount Vernon             296700.000000  307133.333333
          Utica                     53833.333333   54200.000000
          Valley Stream            256700.000000  264900.000000
          Schenectady               77000.000000   78333.333333
          White Plains             349566.666667  364366.666667
          Town of Hempstead        194433.333333  205200.000000
          Town of Binghamton        86333.333333   87766.666667
          Town of Newburgh         132666.666667  139533.333333
          Troy                      79266.666667   79500.000000
          Niagara Falls             48866.666667   47900.000000
          Irondequoit               87233.333333   88133.333333
          Binghamton                56333.333333   57800.000000
          Massapequa               286833.333333  297500.000000
          Town of Elmira            52300.000000   52866.666667
          Henrietta                 99166.666667   99400.000000
          Town of Webster          134533.333333  135633.333333
          Patchogue                177533.333333  185400.000000
          Clifton Park             154433.333333  157900.000000
          Freeport                 217000.000000  227700.000000
          Lindenhurst              202066.666667  212666.666667
          Levittown                223200.000000  234100.000000
...                                          ...            ...
Vermont   Plainfield                         NaN            NaN
          West Brattleboro                   NaN            NaN
          Duxbury                            NaN            NaN
          Rochester                          NaN            NaN
          Sharon                             NaN            NaN
          White River Junction               NaN            NaN
          Irasburg                           NaN            NaN
          Mt Holly                           NaN            NaN
          Ferrisburgh                        NaN            NaN
          Lincoln                            NaN            NaN
          Franklin                           NaN            NaN
          Bridport                           NaN            NaN
          Fayston                            NaN            NaN
          Tunbridge                          NaN            NaN
          Ryegate                            NaN            NaN
          Shaftsbury                         NaN            NaN
          Shoreham                           NaN            NaN
          Fairlee                            NaN            NaN
          Corinth                            NaN            NaN
          Brookfield                         NaN            NaN
          Orwell                             NaN            NaN
          Town of Wallingford                NaN            NaN
          Stamford                           NaN            NaN
          Mendon                             NaN            NaN
          Morrisville                        NaN            NaN
          Town of Marshfield                 NaN            NaN
          Graniteville-East Barre            NaN            NaN
          Town of Manchester                 NaN            NaN
          East Montpelier                    NaN            NaN
Maine     Town of Dixfield                   NaN            NaN

                                          2002q1         2002q2  \
StateName RegionName
New York  New York                           NaN            NaN
          Rochester                 53366.666667   53566.666667
          Yonkers                  292833.333333  303533.333333
          Syracuse                  59033.333333   60200.000000
          Town of Greece           102766.666667  103400.000000
          Albany                    99433.333333  101233.333333
          Town of Poughkeepsie     172800.000000  176933.333333
          New Rochelle             443966.666667  452133.333333
          Town of Colonie          124433.333333  126233.333333
          Mount Vernon             321633.333333  329700.000000
          Utica                     54266.666667   55166.666667
          Valley Stream            272033.333333  279566.666667
          Schenectady               80933.333333   83866.666667
          White Plains             384966.666667  400700.000000
          Town of Hempstead        213333.333333  221200.000000
          Town of Binghamton        87500.000000   88666.666667
          Town of Newburgh         144066.666667  151233.333333
          Troy                      80733.333333   82600.000000
          Niagara Falls             48033.333333   48666.666667
          Irondequoit               89600.000000   91033.333333
          Binghamton                57933.333333   57866.666667
          Massapequa               307533.333333  320066.666667
          Town of Elmira            53666.666667   54000.000000
          Henrietta                 99933.333333  100466.666667
          Town of Webster          137433.333333  138833.333333
          Patchogue                190266.666667  195166.666667
          Clifton Park             160533.333333  163833.333333
          Freeport                 237066.666667  244133.333333
          Lindenhurst              219500.000000  227533.333333
          Levittown                241400.000000  250300.000000
...                                          ...            ...
Vermont   Plainfield                         NaN            NaN
          West Brattleboro                   NaN            NaN
          Duxbury                            NaN            NaN
          Rochester                          NaN            NaN
          Sharon                             NaN            NaN
          White River Junction               NaN            NaN
          Irasburg                           NaN            NaN
          Mt Holly                           NaN            NaN
          Ferrisburgh              144000.000000  156300.000000
          Lincoln                            NaN            NaN
          Franklin                           NaN            NaN
          Bridport                           NaN            NaN
          Fayston                            NaN            NaN
          Tunbridge                          NaN            NaN
          Ryegate                            NaN            NaN
          Shaftsbury                         NaN            NaN
          Shoreham                           NaN            NaN
          Fairlee                            NaN            NaN
          Corinth                            NaN            NaN
          Brookfield                         NaN            NaN
          Orwell                             NaN            NaN
          Town of Wallingford                NaN            NaN
          Stamford                           NaN            NaN
          Mendon                             NaN            NaN
          Morrisville                        NaN            NaN
          Town of Marshfield                 NaN            NaN
          Graniteville-East Barre            NaN            NaN
          Town of Manchester                 NaN            NaN
          East Montpelier                    NaN            NaN
Maine     Town of Dixfield                   NaN            NaN


In [110]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    df = convert_housing_data_to_quarters()
    university_towns = get_list_of_university_towns()
    
    df['differ'] = df[get_recession_start()] / df[get_recession_bottom()]
    df['university'] = np.nan
    
    for i,k in enumerate(df.index):
        
        if k[1] in list(university_towns['RegionName']):
            df['university'][i]=True
        else:
            df['university'][i] =False

    df.dropna(subset=['differ'],inplace=True)
    
    university_towns_mean=df['differ'][df['university']==1]
    not_university_mean = df['differ'][df['university']==0]
    t,p = ttest_ind(not_university_mean, university_towns_mean)
    
    mean_result = "university town" if np.mean(university_towns_mean) < np.mean(not_university_mean) else "non-university town"

    p_result = True if p<0.01 else False

    
            
    
    
    return p_result, p, mean_result

In [111]:
run_ttest()

/Users/erdemalpkaya/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until

(True, 0.00019452075242283457, 'university town')